body{
  font-family: Bariol;
}

.sidebar{
  background-color: #fff;
  height: 100%;
}

#map{
  height: 610px;
  width: 100%;
  margin-left: 50%;
}

.tabs .tab a{
  color: #00bfa5;
}

.tab a.active{
  border-bottom: 2px solid #00bfa5;
  z-index: 99;
  position: relative;
}

.tabs .tab a:hover {
  color: #80cbc4;
}

.tabs .indicator{
  background-color: #80cbc4;
}

.side-nav.fixed a:hover{
  background-color: #fff;
}

.side-nav a, .side-nav.fixed a{
  padding: 0px;
}

input.form-search{
  border: 2px solid #00bfa5;
  border-radius: 25px;
  height: 2.5rem;
  padding-left: 40px;
}

.header{
  margin: 20px;
}

.btn{
  height: 2.5rem;
  border-radius: 25px;
  background-color: #00bfa5;
  color: #fff;
  margin-left: -25px;
  text-transform: none;
  margin: 6px;
  line-height: 32px;
  padding: 0px 1rem;
}

.photo-h, .photo-v, .photo { 
  position: relative;
  width: 360px;
  height: 200px;
  overflow: hidden;
  float: left;

}
.photo-h, .photo img { 
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  margin: 0px !important;
}
.photo-v img { 
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  margin: 0px !important;
}

#dist{
  margin-top: 16px;
  font-size: 18px;
  text-align: right;
}


@font-face{
  font-family: "Bariol";
  src: url('../font/Bariol_Regular.otf');
}