body{
  font-family: Bariol;
}

.sidebar{
  background-color: #fff;
  height: 100%;
}

#map{
  height: 610px;
  width: 100%;
  margin-left: 50%;
}

.tabs .tab a{
  color: #00bfa5;
}

.tab a.active{
  border-bottom: 2px solid #00bfa5;
  z-index: 99;
  position: relative;
}

.tabs .tab a:hover {
  color: #80cbc4;
}

.tabs .indicator{
  background-color: #80cbc4;
}

.side-nav.fixed a:hover{
  background-color: #fff;
}

.side-nav a, .side-nav.fixed a{
  padding: 0px;
}

input.form-search{
  border: 2px solid #00bfa5;
  border-radius: 25px;
  margin-top: 30px;
  height: 2.5rem;
  padding-left: 40px;
}

.header{
  margin: 20px;
}

.btn{
  height: 2.5rem;
  border-radius: 25px;
  background-color: #00bfa5;
  color: #fff;
  margin-left: -25px;
  text-transform: none;
  margin: 6px;
  line-height: 32px;
  padding: 0px 1rem;
}

@font-face{
  font-family: "Bariol";
  src: url('../font/Bariol_Regular.otf');
}